.footerContainer {
  background-color: coral;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.footerContainer h1 {
  font-size: 25px;
}
